#container {
    border: solid black 1px;
    height: 98vh;
    width: 98vw;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
}

#header {
    background-color: royalblue;
}

#main {
    border: solid yellow 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 6px;
    grid-template-areas:
        "a a b"
        "c d b";
}

.children {
    background-color:grey;
    border: solid black 1px;
    padding: 50px 50px;
    color: white;
    font-size: 48px;
    font-weight: bolder;
}

#child-1 {
    grid-area: a;
}

#child-2 {
    grid-area: b;
}

#child-3 {
    grid-area: c;
}

#child-4 {
    grid-area: d;
}

#main-2 {
    border: solid yellow 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 6px;
    grid-template-areas:
        "a a b b"
        "c d d d"
        "e e e e";
}

#ver-1 {
    grid-area: a;
}

#ver-2 {
    grid-area: b;
}

#ver-3 {
    grid-area: c;
}

#ver-4 {
    grid-area: d;
}

#ver-5 {
    grid-area: e;
}

#footer {
    background-color: goldenrod;
}